import("stats", "Formula")
importFrom("utils", "tail")

export(
  "crch",
  "trch",
  "crch.control",
  "crch.fit",
  "hxlr",
  "hxlr.control",
  "dcnorm",
  "pcnorm",
  "qcnorm",
  "rcnorm",
  "dclogis",
  "pclogis",
  "qclogis",
  "rclogis",
  "dct",
  "pct",
  "qct",
  "rct",
  "dtnorm",
  "ptnorm",
  "qtnorm",
  "rtnorm",
  "dtlogis",
  "ptlogis",
  "qtlogis",
  "rtlogis",
  "dtt",
  "ptt",
  "qtt",
  "rtt"
)

## methods for crch
S3method("coef", "crch")
S3method("fitted", "crch")
S3method("logLik", "crch")
S3method("predict", "crch")
S3method("print", "crch")
S3method("print", "summary.crch")
S3method("residuals", "crch")
S3method("summary", "crch")
S3method("terms", "crch")
S3method("vcov", "crch")
S3method("update", "crch")
S3method("model.frame", "crch")
S3method("model.matrix", "crch")

## methods for hxlr
S3method("logLik", "hxlr")
S3method("predict", "hxlr")
S3method("print", "hxlr")
S3method("print", "summary.hxlr")
S3method("summary", "hxlr")
S3method("terms", "hxlr")
S3method("fitted", "hxlr")
S3method("coef", "hxlr")
S3method("vcov", "hxlr")
